@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400;1,600&display=swap);
  *,*::before,*::after{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* pokemonList Home Page*/
nav{
  width: 100%;
  background-color: rgba(66, 204, 110, 0.747);
  padding: 25px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 50px;
}
nav a:hover{
  color: rgb(1, 25, 65);
}

.pokemonListWrap{
  width: 100%;
  margin: auto;
}
.pokemonNameWrap{
  width: 85%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(14, 109, 55);
  padding: 15px;
  border-radius: 5px;
}
.pokemonNameWrap p{
  color: rgb(130, 141, 26);
  font-size: 1.2rem;
  font-weight: 600;
}
.pokemonNameWrap a{
  text-decoration: none;
  color: rgb(73, 73, 73);
}

.searchContainer{
  padding: 3% 0;
  display: flex;
  justify-content: center;
}
.searchContainer p{
  font-size: 1rem;
  color: rgb(2, 14, 68);
  padding-right: 2%;
  line-height: 1.6;
}
.searchContainer input{
  width: 25%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #000;
}
.searchContainer input:focus{
  border: 2px solid rgb(79, 76, 235);
}
.searchContainer input::placeholder{
  padding-left: 10px;
}
.searchContainer button{
  margin-left: 2%;
  padding: 5px 15px;
  border-radius: 30px;
  border: 2px solid rgb(8, 228, 37);
  outline: none;
  cursor: pointer;
}
.searchContainer button:hover{
  background-color: rgba(66, 204, 110, 0.747);
  color: #fff;
}

.pagination{
  display: flex;
  justify-content: center;
}
.pagination li{
  margin: 2% 1.5%;
  padding: 5px 15px;
  cursor: pointer;
  color: rgb(41, 124, 54);
  font-size: 1.5rem;
  font-weight: 500;
}
.pagination li:hover,.pagination .selected{
  border: 1px solid rgb(1, 25, 65);
  color: rgb(1, 25, 65);
}

.categorybtn{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  overflow-x: scroll;
}
.btn{
  padding: 5px 20px;
  color: #fff; 
  background-color: rgb(177, 113, 30);
  font-size: 1rem;
  margin: 0 3px;
}
.btn:hover { color: #204e02; }


/* pokemon*/
.pokemonWrap{
  width: 90%;
  margin: auto;
  padding-top: 2%;
}
.pokemonWrap>h1{
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(17, 59, 4);
}
.pokemonSatus{
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
}
.pokemon h1{
  padding: 3% 0;
  color: rgb(90, 247, 58);
  font-size: 1.4rem;
}
.pokemon p{
  line-height: 1.8;
  color: rgb(80, 82, 3);
  font-weight: 500;
}

@media screen and (max-width: 767px){
  .searchContainer {
    flex-wrap: wrap;
    margin-top: 5%;
  }
  .searchContainer input{
    width: 50%;
  }
  .searchContainer button{
    font-size: 1.3rem;
    width: 75%;
    margin-top: 5%;
  }
  
  .pagination li {
    margin: 2% 0;
    font-size: 0.8rem;
  }

  .pokemonSatus {
    flex-direction: column;
  }
  .pokemonSatus .pokemon:last-child{
    padding-bottom: 10%;
  }
  .pokemonWrap>h1{
    padding-top: 8%;
  }
}
