@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}
body{ overflow-x: hidden;}
.btn{
  text-decoration: none;
  display: inline-block;
  background: #ff523b;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  margin: 30px 0;
  transition: background .5s;
  line-height: 1.5;
}
.btn:hover{
  background: #563434;
}
.cart{
  width: 30px;
  height: 30px;
}

/* ------ Carts items details */
.CartItemRow:not(:last-child){
  border-bottom: 1px solid #444;
}
.single_products input[type="button"]{
  cursor: pointer;
  width: 35%;
  height: 10%;
  text-align: center;
  display: inline-block;
  background: #ff523b;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  margin: 30px 0;
  transition: background .5s;
}
.single_products input[type="button"]:hover{
  background: #563434;
}
.carts_page{
  margin: 80px auto;
}
.itemsinfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #777;
}
.itemsinfo span{
  padding-bottom: 10px;
  margin-right: 1.5%;
}
.carts_page .cart-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Cart-Row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 0;
  border-bottom: 2px solid #aaa;
}
.Cart-Row > div{
  display: flex;
  align-items: center;
  margin-right: 1.5%;
}
.Cart-Row > div .ItemSize{
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  margin: 20px auto 5px;
  color: rgb(0, 4, 250);
  font-size: 26px;
}
.Cart-Row input{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
}
.Cart-Row img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.Cart-Row .Remove-items-btn{
  color: #ff523b;
  font-size: 19px;
  cursor: pointer;
  position: absolute;
  right: -6%;
}
.goToShopText h2,.goToShopText a{
  margin: auto;
  position: absolute;
}
.goToShopText h2{
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: rgb(253, 94, 94);
}
.goToShopText a{
  width: 100%;
  top: 50%;
  text-align: center;
  text-decoration: none;
  color: rgb(241, 11, 118);
}
.goToShopText span{
  display: inline-block;
  font-size: 2.3rem;
}
.goToShopText .wave-word {
  animation: waveAnimate 2s ease-in-out infinite;
  animation-delay: calc( .1s * var(--wave-word) );
}
@keyframes waveAnimate 
{
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-24px);

  }
  50%{
    transform: translateY(12px);
  }
  75%{
      transform: translateY(12px);
    }
  100%{
    transform: translateY(12px);
  }
}

.tatle-price{
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  position: relative;
}
.tatle-price table{
  width: 100%;
  max-width: 350px;
}
.carts_page td:last-child{
  text-align: right;
  position: relative;
}
a.purchase{
  position: absolute;
  bottom: -65%;
}

.footer {
  margin-top: 120px;
}
.footer .row {
  position: relative;
  left: 5%;
}

@media screen and (max-width:1140px)
{
  .Cart-Row .cart-price, .itemsinfo span:nth-child(3), .tatle-price{
    position: relative;
    right: 10%;
  }
  .Cart-Row .Remove-items-btn{
    right: 0%;
  }
}

@media screen and (max-width:950px)
{
    /*----- 購物車無商品時的文字 ------ */
    .goToShopText h2{
        font-size: 44px;
    }
    .goToShopText span{
        font-size: 1.5rem;
    }
}

/* ----- RWD width:875px 以下 ----- */
@media screen and (max-width:875px) {
    .navbar nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        /* js控制maxheight，用overflow: hidden; 來隱藏 maxheight=0 的時候文字還存在的問題 */
        overflow: hidden;
        transition: max-height .5s;
        z-index: 99;
    }
    .navbar nav ul li{
        display: block;
        margin: 10px 50px 10px 0;
    }
    .navbar nav ul li a{
        color: #fff;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    
    /*----- 購物車中商品資訊 -----*/
    .Cart-Row > div .ItemSize{
        font-size: 15px;
        bottom: 10%;
        left: 15%;
    }
    .Cart-Row .cart-price, .itemsinfo span:nth-child(3), .tatle-price{
        position: relative;
        right: 10%;
    }
    .Cart-Row .Remove-items-btn{
        right: 0%;
    }
}

/* RWD width:600px 以下 */
@media screen and (max-width:650px)
{
  .row{
      text-align: center;
  }
  .col-2, .col-3, .col-4{
      flex-basis: 100%;
  }
  /*----- 購物車無商品時的文字 ------ */
  .goToShopText h2{
      top: 35%;
      font-size: 1.3rem;
  }
  .goToShopText span{
      font-size: 1.2rem;
  }
  .goToShopText a{
      top: 50%;
  }

  /*----- 購物車中商品資訊 -----*/
  .Cart-Row{
      padding: 65px 0;
  }
  .itemsinfo span{
      flex-basis: 34%;
  }
  .itemsinfo>span{
      position: relative;
      left: 8%;
  }
  .Cart-Row img{
      position: absolute;
      top: 5%;
      left: 5%;
  }
  .Cart-Row .ItemTitle{
      font-size: .6rem;
      position: absolute;
      bottom: 30%;
      left: 10%;
  }
  .Cart-Row > div .ItemSize{
      font-size: 20px;
      left: 5%;
  }
  .Cart-Row .cart-price{
      position: relative;
      right: 15%;
  }
  .Cart-Row:nth-child(2) .ItemTitle, .Cart-Row:nth-child(3) .ItemTitle{
      position: absolute;
      bottom: 30%;
      left: 7%;
      font-size: .5rem;
  }
  .Cart-Row .carts-input{
      left: 47%;
  }
}

@media screen and (max-width:490px)
{
  /*----- 購物車無商品時的文字 ------ */
  .goToShopText h2{
      font-size: 1rem;
  }
  .goToShopText span{
      font-size: .8rem;
  }
  .goToShopText a{
      top: 45%;
  }

  /*----- 購物車中商品資訊 -----*/
  .itemsinfo span{
      flex-basis: 33%;
  }
  .Cart-Row .ItemTitle{
      left: 5%;
  }
  .Cart-Row .cart-price{
      right: 10%;
  }
  .Cart-Row .Remove-items-btn{
      bottom: 15%;
      right: 8%;
  }
}