@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto Condensed', sans-serif;
}

/* ------- 共用項目 ---------- */
.title {
  position: absolute;
  top: -5px;
  left: 60px;
}

h1 {
  height: 100px;
  line-height: 2.7;
  font-size: 35px;
  color: #fff;
}

/* ----------- HomePage -------------- */
.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("images/FirstPageBackGround.jpg") center/cover;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}

.header .title {
  top: -100px;
  animation: movedown 1.5s ease forwards;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 25px 0;
  position: relative;
  top: -100px;
  animation: movedown 1.5s ease forwards;
}

@keyframes movedown {
  100% {
    top: 0px;
  }
}

nav {
  flex: 1;
  text-align: right;
}

nav li {
  display: inline-block;
  box-sizing: border-box;
  padding-right: 25px;
}

nav li a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  position: relative;
  padding-bottom: 5px;
  outline: none;
}

nav li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #23fafa;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s ease-in-out;
}

nav li a:hover {
  color: #f8871c;
}

nav li a:hover::after {
  width: 100%;
}

.link a {
  width: 50px;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 5px;
}

.link img {
  width: 100%;
}

.header .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.header .text h2 {
  line-height: 1.8;
}

.header .text a {
  display: block;
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 10px;
  border-radius: 30px;
  position: relative;
  top: 40px;
}

.header .text a::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  transition: 1s;
  z-index: -1;
}

.header .text a:hover::before {
  width: 100%;
  background: #40f8e0c5;
  transform: scaleY(1.1);
}

.menu {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 4%;
  right: 5%;
  display: none;
}

#rwdmenu {
  position: absolute;
  opacity: 0;
  z-index: -99;
}

/* -------- 1 RWD --------- */
@media screen and (max-width:1090px) {
  .header h1 {
    position: absolute;
    right: 65px;
    top: 0;
    text-align: center;
    font-size: 75px;
  }

  .header .text {
    width: 100%;
    margin: auto;
    font-size: 22px;
    line-height: 1.7;
  }

  .header .text a {
    margin: 0 25px;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -200%;
    height: 100%;
    background: #69ecece8;
    z-index: 8;
    transition: 1s ease-in-out;
  }

  .navbar ul li {
    display: block;
    padding: 30px 75px;
    box-sizing: border-box;
    border-bottom: 2px solid #fff;
  }

  .link {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 2%;
    display: flex;
    justify-content: space-around;
  }

  .menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
  }

  #rwdmenu:checked~.header .navbar {
    right: 0;
  }

  #rwdmenu:checked~.introduction .navbar {
    right: -10%;
  }

  .introduction .title {
    opacity: 0;
  }
}

@media screen and (max-width:480px) {
  .header h1 {
    top: 50px;
    font-size: 35px;
    font-weight: 800;
  }

  .header .text {
    font-size: 17px;
    font-weight: 700;
  }

  .header .text p {
    font-size: 22px;
    font-weight: 400;
  }

  .link a {
    margin: 0 10px;
  }

  .link img {
    margin: 0;
  }

  .navbar ul li {
    padding: 30px;
  }
}


/* ----------- SecondPage -------------- */
.introduction {
  width: 100%;
  background-image: linear-gradient(180deg, #93a5cf 0%, #cbd8d1 100%);
  box-shadow: 0 0 20px 0 rgb(121, 121, 121);
  position: fixed;
  top: -100px;
  z-index: 5;
  animation: movedown 1.5s ease forwards;
}

.introduction .navbar {
  left: 10%;
}

.main-title {
  background: #4e4e4e;
}

.photo {
  text-align: center;
  background-image: linear-gradient(60deg, #96deda 30%, #50c9c3 100%);
  padding-top: 120px;
  box-sizing: border-box;
}

.photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.photo h1 {
  font-size: 60px;
  padding-bottom: 80px;
  padding-left: 30px;
  letter-spacing: 30px;
  color: #2b2a2a;
}

.main-title .text {
  margin: 0 100px;
  color: #e2e2e2;
  text-align: justify;
  box-sizing: border-box;
  padding: 50px 0;
}

.main-title h2 {
  font-size: 50px;
  color: #2b2a2a;
  text-shadow: 10px 10px 20px #e0d9d9;
  text-align: center;
  padding-bottom: 55px;
}

.main-title p {
  text-indent: 2rem;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.7;
}

/* ------- 2 RWD -------- */
@media screen and (max-width:800px) {
  .main-title .text {
    margin: 0 40px;
  }
}

/* ----------- ThirdPage -------------- */
.skills {
  width: 100%;
  padding-top: 110px;
  background: #4e4e4e;
  box-sizing: border-box;
}

.skills h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 2rem;
  letter-spacing: 10px;
  color: #2b2a2a;
  text-shadow: 10px 10px 20px #e0d9d9;
}

.skills .row {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 50px 0;
  margin: auto;
}

.col-4 {
  background: rgb(155, 155, 155);
  width: 250px;
  text-align: center;
  padding: 20px;
  margin: 0 10px;
  box-sizing: border-box;
  position: relative;
  border: 2px solid rgb(223, 250, 252);
  box-shadow: 0 0 5px 3px rgb(115, 131, 133);
  transition: .5s ease-out;
}

.col-4:hover {
  transform: translateY(-10px);
  color: rgb(255, 255, 255);
}

.col-4 h2 {
  box-sizing: border-box;
  padding-bottom: 20px;
  font-size: 45px;
}

.col-4 li {
  padding: 8px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(68, 68, 68);
}


/* ---------- 3RWD ------------ */
@media screen and (max-width:1200px) {
  .col-4 {
    width: 35%;
    height: 500px;
    margin-bottom: 5%;
  }
}

@media screen and (max-width:700px) {
  .col-4 {
    width: 90%;
    height: 600px;
    margin-bottom: 8%;
  }

  .col-4 li {
    box-sizing: border-box;
    padding: 3% 0;
  }
}

/* ----------- FourthPage -------------- */
.Project {
  width: 100%;
  background-color: #262626;
}

.Project h1 {
  width: 80%;
  margin: auto;
  font-size: 60px;
  text-align: center;
  padding-top: 100px;
  color: #ffffff;
  text-shadow: 10px 10px 20px #777777
}

.Project .row {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 75px 0;
  margin: auto;
}

.Project .col-2 {
  flex-basis: 50%;
  box-sizing: border-box;
  margin: 0 1%;
  height: 65vmin;
  position: relative;
}

.Project .col-2:hover .text {
  visibility: visible;
  backdrop-filter: blur(5px);
}

.Project img {
  width: 100%;
  height: 100%;
}

.Project .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: linear-gradient(rgb(0, 0, 0, .4), rgb(0, 0, 0, .6));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  visibility: hidden;
}

.link {
  position: absolute;
  bottom: 3%;
  right: 0;
  display: flex;
}

.link a {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  padding-right: 10%;
}

.text .viewmore {
  text-decoration: none;
  color: #fff;
  width: 35%;
  position: absolute;
  bottom: 16%;
  left: 0;
  right: 0;
  margin: auto;
  transition: .5s linear;
}

.text .viewmore:hover {
  background: linear-gradient(rgb(57, 247, 190), rgba(16, 94, 81, 0.712));
  border: 1px solid rgba(16, 94, 81, 0.712);
  transform: scale(1.2);
}

.text-close-btn {
  position: absolute;
  right: 2%;
  top: 3%;
  width: 25px;
  height: 25px;
  text-decoration: none;
}

.text-close {
  position: fixed;
  right: 12%;
  bottom: 8%;
  width: 50px;
  height: 50px;
  background: #50c9c3;
  border-radius: 50%;
  visibility: hidden;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 2.5;
}

.text-gotop-btn img {
  width: 80%;
  position: relative;
  left: 10%;
  top: 3%;
}

.introduceText {
  width: 80%;
  height: 85%;
  position: fixed;
  top: 10%;
  right: 0;
  left: 0;
  margin: auto;
  background: #fff;
  padding: 2% 3%;
  box-sizing: border-box;
  border: 3px solid #000;
  line-height: 1.8;
  overflow-y: scroll;
  z-index: 9;
  display: none;
}

.introduceText.show {
  display: block;
}

.gotop {
  position: fixed;
  right: 2%;
  bottom: 3%;
  width: 45px;
  height: 45px;
  background: #50c9c3;
  border-radius: 10px;
  z-index: 9;
  text-align: center;
  line-height: 2.6;
  cursor: pointer;
  animation: gotopAnimate 1s infinite;
  display: none;
}

.gotop.showtoplink {
  display: block;
}

@keyframes gotopAnimate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.gotop img {
  width: 65%;
  padding-left: 1px;
}